h1 {
            color: rgb(147, 147, 235);
            text-align: center;
        }
        #wow {
            color: rgb(68, 68, 103);
            text-align: center;
        }
        #woo {
            color: rgb(64, 64, 145);
            text-align: center;
        }